*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper{
  max-width: 1440px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #d1d4ec;
  height: 100vh;
}

.wrapper h1{
  font-weight: 700;
  color:  #424242;
}

.custom-form{
  width: 500px;
  height: auto;
  margin: 20px auto;
}

.input-and-btn{
  display: flex;
  gap: 4px;
}

.input-and-btn input{
  padding: 12px;
}

.input-and-btn button{
  padding-inline: 1.2rem;
}

.todo-box{
  width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-block: 12px;
  font-size: 18px;
  background-color: #ecedf6;
  padding: 14px;
  border-radius: 8px;

}

.todo-box .content{
  display: flex;
  gap: 12px;

}

.todo-box .content p{
  margin-top: -6px;
  margin-left: 6px;
}

.todo-box .content input{
  cursor: pointer;
}

.todo-box span{
  margin: 0 5px;
}

.delete-all{
  width: 400px;
  margin-top: 14px;
}

.actions-box{
  cursor: pointer;
}

.back-btn{
  margin-top: 5px;
  width: 100%;
}


@media (max-width: 550px) {
  *{
    scale: 0.95;
  }

  .custom-form{
    width: 100%;
  }

  .todo-box, .delete-all{
    width: 90%
  }
  
}